.puffOut {
  -webkit-animation-name: puffOut;
          animation-name: puffOut;
}
@-webkit-keyframes puffOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
            transform: scale(2,2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}
@keyframes puffOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
            transform: scale(2,2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}