.openDownLeftReturn {
  animation-name: openDownLeftReturn;
}
@keyframes openDownLeftReturn {
  0% {
    transform-origin: bottom left;
    transform: rotate(-110deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform-origin: bottom left;
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
}