.openUpRightReturn {
  animation-name: openUpRightReturn;
}
@keyframes openUpRightReturn {
  0% {
    transform-origin: top right;
    transform: rotate(-110deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform-origin: top right;
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
}