.tinDownOut {
  animation-name: tinDownOut;
}
@keyframes tinDownOut {
  0%, 20%, 40%, 50% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }

  10%, 30% {
    opacity: 1;
    transform: scale(1.1, 1.1) translateY(0);
  }

  100% {
    opacity: 0;
    transform: scale(1, 1) translateY(900%);
  }
}